[Unit]
Description=Foundry VTT

[Service]
Type=simple
ExecStart=node /mnt/space/games/foundry/foundryvtt/resources/app/main.js --dataPath=/mnt/space/games/foundry/foundrydata
Restart=on-failure
User=foundry

[Install]
WantedBy=multi-user.target
