# https://blog.gitbutler.com/how-git-core-devs-configure-git/
[core]
	pager = delta

[init]
  defaultBranch = main

[feature]
  experimental = true

[fetch]
  prune = true
  pruneTags = true
  all = true

[commit]
  verbose = true

[push]
  autoSetupRemote = true

[branch]
  sort = committerdate

[tag]
  sort = version:refname

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true

[merge]
	conflictstyle = diff3

[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true

[diff]
	colorMoved = plain
  algorithm = histogram
  mnemoniPrefix = true
  rename = true

# https://git-scm.com/book/en/v2/Git-Tools-Rerere
[rerere]
	enabled = true
  autoupdate = true

[user]
	{{- if eq .chezmoi.hostname "m-ry6wtc3pxk" }}
	email = "c0o02bc@homeoffice.wal-mart.com"
	{{- else }}
	email = "covercash2@gmail.com"
	{{- end }}
	name = Chris Overcash
