# -*- mode: gitignore; -*-
*~
*.elc
\#*\#
.\#*
/.emacs.desktop
/.emacs.desktop.lock
ac-comphist.dat 
auto-save*
tramp
session.*
.recentf

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# directory configuration
.dir-locals.el

# elpa packages
/elpa/

# eshell files
eshell*

# Flycheck
flycheck_*.el

# flymake-mode
*_flymake.*

# Org-mode
.org-id-locations
*_archive

# projectiles files
projectile*

# python 
.python-environments

# reftex files
*.rel

# server auth directory
/server/
