layout {
    pane size=1 borderless=true {
        plugin location="zellij:compact-bar"
    }
    pane
    // disable the bottom status bar for now
    // pane size=1 borderless=true {
    //     plugin location="status-bar"
    // }
}
