# starship prompt manager config file
"$schema" = 'https://starship.rs/config-schema.json'

format = """
$all\
$fill\
$time\
$line_break\
$jobs\
$battery\
$status\
${custom.jj}
$os\
$container\
$shell
"""

[fill]
symbol = " "

[time]
disabled = false
format = '[$time]($style) '

[custom.jj]
command = "prompt"
format = "$output"
ignore_timeout = true
shell = ["starship-jj", "--ignore-working-copy", "starship"]
use_stdin = false
when = true
